.titulo{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-style: 25px;
}

.btn{
    font-family: "Lato", sans-serif;
    font-weight: 700px;
    font-style: normal;
    font-size: 17px;
}


